.carrito-conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 80vh;
    margin-top: 10px;
}

.carrito-titulos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

.carrito-titulo-producto{
    width: 20%;
}

.carrito-titulo-descripcion{
    width: 30%;
}

.carrito-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 100%;
    text-align: left;
    height: 35%;
    padding: 2%;
    color: #50262d;
}

.carrito-producto{
    width: 20%;
}

.descripcion-carrito{
    width: 30%;
}

.boton-carrito{
    background-color: #50262d;
    border: none;
    color: whitesmoke;
    padding: 2%;
    width: 5%;
    cursor: pointer;
    font-family: poppins;
}

.boton-vaciar {
    width: 100%;
    padding: 1%;
    background-color: #50262d;
    border: none;
    color: whitesmoke;
    font-weight: bold;
}

.carrito-vacio{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.carrito-total{
    height: 30%;
    width: 100%;
}