.productos-conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.producto-card{
    background-color: #a75865;
    width: 30%;
    min-height: 28rem;
    text-align: center;
    margin-top: 5%;
}

.producto-titulo {
    min-height: 5rem;
}

.producto-image{
    width: 14rem;
    height: 14rem;
}

.producto-btn {
    background-color: #50262d;
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    width: 100%;
    cursor: pointer;

    font-family: poppins;
}